@media screen and (min-width:900px) {
    body {
        width: 720px !important;
        margin: 0 auto !important;
    }
}

@media screen and (max-width:720px) {
    .menu {
        width: 100%!important;
    }
}

body {
    background: #fff;
    margin: 0 auto;
}

* {
    list-style: none;
    font-family: 微软雅黑;
}

select,
input {
    outline: none;
}


/*创新支付网关*/

#gateBanner .gate-banner {
    position: relative;
    height: 195px;
    overflow: hidden;
}

#gateBanner .gate-banner img {
    max-width: 100%
}

#gateBanner .gate-banner .gate-banner-text {
    background-color: rgba(187, 187, 187, 0.85);
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box
}

#gateCont {
    width: 100%;
}

#gateCont .gate-cont {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.important-cont {
    width: auto;
    margin: 0 auto;
}

.important-cont .important-part {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-top: 20px;
}

.important-cont .important-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 65px;
}

.important-part .import-title {
    font-family: 微软雅黑;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    width: 58px;
    text-align: right;
    margin-right: 10px;
}

.important-part input {
    width: 220px;
    height: 36px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 201, 15);
    background: none;
    color: #fff
}

.important-part .import-num {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #DDC90F;
}

.important-part .import-all,
.important-part .import-link,
.important-part .import-link a {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #DDC90F;
    margin-left: 5px;
}

.important-part .import-rate {
    display: flex;
    display: -webkit-flex;
    font-family: MADEFutureX-Light;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
}

#unittype {
    width: 220px;
    height: 36px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 201, 15);
    background: none;
    color: #fff
}

#unittype option {
    color: #000;
}

#unittype option:focus {
    background: #eee;
}

.important-part button {
    margin-left: 65px;
    width: 220px;
    height: 34px;
    line-height: 34px;
    border-radius: 20px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
}

.important-part button a {
    display: block;
}

#gateTable {
    width: 100%;
    margin-top: 30px;
}


/* #gateTable h5 {
    color: rgba(255, 255, 255, 1);
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    text-align: center;
} */

#gateTable table {
    margin: 1rem 0 2.5rem 0;
    width: 100%;
}

#gateTable table thead {
    height: 27px;
    background-color: rgb(221, 201, 15);
}

#gateTable table th {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #000;
    background-color: rgb(221, 201, 15);
}

#gateTable table tr {
    height: 27px;
    line-height: 27px;
}

#gateTable table tr td {
    text-align: center;
    font-family: MADEFutureX;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: #fff;
}

#gateTable table tr td.td-y,
#gateTable table tr td.td-y a {
    color: rgb(221, 201, 15);
}

#gateTable table tr:nth-child(even) {
    box-sizing: border-box
}

#gateTable table tr:nth-child(odd) {
    background-color: #3F404B;
}

.add-back {
    width: 90%;
    margin: 0 auto;
    height: 44px;
    line-height: 44px
}

.add-back a {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
}

.add-back a img {
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.add-back a span {
    vertical-align: middle;
}

.add-set-input {
    width: 90%;
    margin: 0 auto
}

.add-set-input h5 {
    color: rgba(255, 255, 255, 1);
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    text-align: center;
    margin: 10px 0 20px 0
}

.add-set-input-part {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-set-input-part .add-title {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

.add-set-input-part select {
    width: 220px;
    height: 36px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 201, 15);
    outline: none;
    background: none;
    color: #fff;
}

.add-set-input-part select option {
    color: #000;
}

.add-set-input-part select option:focus {
    background: #eee;
}

.add-set-input-part input {
    width: 220px;
    height: 36px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 201, 15);
    background: none;
    color: #fff;
}

.add-set-input-part div {
    font-family: MADEFutureX-Light;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
}


/*保存按钮*/

.add-set-input-part .save,
.add-set-input-part button {
    width: 180px;
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    font-weight: 600;
    letter-spacing: 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    margin-left: 80px;
    margin-top: 20px;
}


/*生成并上传*/

.add-set-input-part .upkeys {
    line-height: 34px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: MADEFutureX-Medium;
    letter-spacing: 1px;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: rgb(221, 201, 15);
    font-size: 14px;
    margin-top: 20px;
}

.add-set-input-part {
    border-radius: 3px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    background-color: none;
    margin-left: 0px;
    letter-spacing: 2px;
}


/*首页选项卡*/

.header_select {
    width: 95%;
    height: 30px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-around;
}

.index_tab1,
.index_tab2 {
    width: 50%;
    height: 100%;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #bbb;
}

.selected {
    color: #DDC90F;
    border-bottom: 1px solid #FFC900;
}


/*首页-商家选择*/

.fixed {
    position: fixed;
}

.merchant_back {
    position: fixed;
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
}

.merchant_content {
    width: 90%;
    height: 600px;
    background-color: #1A1C1A;
    margin: 10% auto;
    border-radius: 20px;
    overflow: hidden;
}

.merchant_title {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: rgba(113, 111, 111, 0.35);
    position: relative;
    line-height: 40px;
    text-align: center;
}

.merchant_title>.merchant_close {
    display: block;
    position: absolute;
    left: 20px;
    font-size: 22px;
}

.merchant_filter {
    width: 100%;
    height: 37px;
    background-color: rgba(113, 111, 111, 0.2);
    border-bottom: 1px solid #333333;
}

#merchant_sort {
    width: 76px;
    height: 37px;
    color: #B3B3B3;
    margin-left: 10px;
    background-color: rgba(113, 111, 111, 0.01);
    outline: none;
    border: 0;
}

.merchant_list {
    width: 100%;
    height: 523px;
    overflow-y: scroll;
}


/* 设置滚动条的样式 */

::-webkit-scrollbar {
    width: 10px;
    padding-bottom: 10px;
}


/* 滚动槽 */

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    border-radius: 10px;
}


/* 滚动条滑块 */

 ::-webkit-scrollbar-thumb {
    background: #DDC90F;
}

.every_merchant {
    width: 100%;
    height: 121px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #333333;
}

.item_left,
.item_right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item_left {
    width: 60%;
    float: left;
}

.item_left>li {
    font-size: 12px;
    color: #fff;
}

.item_title {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.item_right {
    width: 40%;
    padding-right: 15px;
    box-sizing: border-box;
    float: left;
}

.item_right>li {
    text-align: right;
}

.item_right>button {
    width: 70px;
    height: 30px;
    margin: 0 auto;
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
    background-color: #DDC90F;
    border-radius: 20px;
    outline: none;
    border: 0;
}

.tab-pay-header {
    width: 100%;
    height: 37px;
    line-height: 37px;
    background-color: rgb(221, 201, 15);
    margin-bottom: 22px;
    overflow-y: hidden;
}

.tab-pay-header #tabs {
    display: flex;
    display: -webkit-flex;
}

.tab-pay-header #tabs li {
    width: 20%;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    flex: auto;
    position: relative;
}

.tab-pay-header #tabs li a {
    font-weight: 600;
    color: #6C6B6B;
}

.tab-pay-header #tabs li#current a {
    color: #000;
}

.tab-pay-header #tabs li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 42px;
    margin-top: -3px;
    background-color: gray;
    transform: rotate(30deg);
}

.tab-pay-header #tabs li:first-child:before {
    display: none;
}

.add-set-bottom {
    height: 102px;
    position: absolute;
    top: 65vh;
    display: flex;
    flex-direction: column;
}

.tab-part p {
    font-family: MADEFutureX-Light;
    color: #fff;
    font-size: 12px;
    text-align: center
}

.tab-part .tips {
    padding-left: 10px;
    font-size: 10px;
    color: #DDC90F;
}

.tab-part .Qrcode {
    margin-top: 36px;
    font-size: 12px;
}

.generate-public-key,
.havekeys {
    font-size: 14px;
    letter-spacing: 1px;
    color: #DDC90F;
}

.add-set-input-part textarea {
    font-family: MADEFutureX-Light;
    background: none;
    border-radius: 5px;
    border: 1px solid rgb(221, 201, 15);
    padding: 5px 12px;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    box-sizing: border-box
}

.important-part-select {
    position: relative;
}

.import-detail {
    font-family: MADEFutureX-Light;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
}

.import-detail .import-detail-title {
    position: absolute;
    left: 238px;
    top: 13px;
    color: rgb(221, 201, 15);
}

.import-detail .import-detail-cont {
    display: none;
    position: absolute;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    width: 220px;
    padding: 0 10px;
    left: 65px;
    top: 36px;
    text-align: center;
}

.import-detail .import-detail-cont p {
    padding: 5px 0
}

.priv-flex {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.priv-flex .copy-key {
    color: #000;
    border-radius: 5px;
    padding: 0 6px;
    background-color: rgb(221, 201, 15);
}

textarea#privKey {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    border: none;
    resize: none;
    width: 100%;
    height: 188px;
    padding-top: 10px;
    box-sizing: border-box;
    line-height: 19px;
}


/*申请成为商户*/

.apply-header {
    width: 90%;
    margin: 0 auto;
    height: 44px;
    line-height: 44px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.apply-header div {
    color: #fff;
    font-size: 16px;
}

.apply-back a img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.apply-my a img {
    vertical-align: middle;
}

.apply-cont {
    width: 90%;
    margin: 0 auto
}

.apply-cont h3,
.apply-cont p {
    font-family: MADEFutureX;
    font-size: 14px;
    color: #fff
}

.apply-cont h3 span {
    color: #E5D91C
}

.apply-cont {
    margin-top: 100px;
}

.apply-cont h3 {
    text-align: center;
    margin-bottom: 100px;
}

.apply-cont p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 11px;
    line-height: 20px;
}

.apply-btn {
    width: 180px;
    margin: 0 auto;
    margin-top: 50px;
}

.apply-btn button {
    width: 180px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
}

.apply-btn button a {
    display: block
}


/*接单页面*/

.order-cont {
    width: 90%;
    margin: 0 auto;
}

.order-cont h3,
.history-cont h3 {
    font-family: MADEFutureX;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.his-link {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}

.his-link a {
    font-family: MADEFutureX;
    font-size: 12px;
    color: #E5D91C
}

.order-cont table {
    margin: 0.5rem 0 2.5rem 0;
    width: 100%;
}

.order-cont table thead {
    height: 27px;
    background-color: rgb(221, 201, 15);
}

.order-cont table th {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #000;
    background-color: rgb(221, 201, 15);
}

.order-cont table tr {
    height: 27px;
    line-height: 27px;
}

.order-cont table tr td {
    text-align: center;
    font-family: MADEFutureX;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: #fff;
}

.order-cont table tr:nth-child(even) {
    box-sizing: border-box
}

.order-cont table .table-part-2 {
    background-color: #3F404B;
}

.order-cont table .tr-y td,
.orders-link {
    color: #E5D91C
}

.orders-color {
    font-family: MADEFutureX;
    font-size: 12px;
    color: #E5D91C
}


/*历史记录*/

.history-cont #tabPay {
    width: 100%;
    margin-bottom: 50px
}

.history-cont .tab-pay-header #tabs li:before {
    content: none;
}

.history-cont .tab-pay-header {
    margin: 0 auto
}

.history-cont .tab-pay-header #tabs li#current a {
    color: #000;
    display: block;
    font-weight: 600;
}

.undone-cont {
    width: 100%;
}

.undone-cont .undone-part {
    border-bottom: 1px solid #423e3e;
    padding: 15px 4% 5px 4%;
    box-sizing: border-box
}

.undone-flex {
    display: flex;
    display: -webkit-flex;
    font-family: MADEFutureX-Light;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    color: #fff;
    margin-bottom: 13px;
}

.undone-flex .undone-div {
    flex: 1;
    display: flex;
    display: -webkit-flex;
}

.undone-flex .undone-div span {}

.undone-flex a {
    font-family: MADEFutureX-Light;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    color: #E5D91C
}

.undone-flex-end {
    justify-content: flex-end;
}

.undone-flex-end a {
    font-family: MADEFutureX-Blod;
    margin-left: 20px
}

.undone-cont .undone-part:nth-child(even) {
    background-color: #373636;
}


/*订单详情*/

.payee-cont h3 {
    font-family: MADEFutureX;
    font-size: 14px;
    color: #E5D91C;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.payee-cont .add-set-input {
    border-radius: 4px;
    background-color: rgba(113, 111, 111, 0.35);
    padding: 10px 0 20px 0;
}

.payee-btn {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.payee-btn button {
    width: 180px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.payee-btn button a {
    display: block
}

.fill-in {
    display: flex;
    display: -webkit-flex;
    width: 90%;
    margin: 0 auto
}

.fill-in span {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
    width: 75px;
    text-align: right;
    margin-right: 10px;
}

.fill-in textarea {
    padding: 5px 12px;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    box-sizing: border-box;
    background-color: rgba(113, 111, 111, 0.35);
    border: none
}

.appeal-record {
    width: 100%;
    margin: 20px 0
}

.appeal-record h3 {
    font-family: MADEFutureX-Bold;
    font-size: 14px;
    color: #E5D91C;
    width: 90%;
    padding: 0 5%;
    margin-bottom: 16px;
}

.appeal-record .appeal-part {
    width: 90%;
    padding: 12px 5%;
    display: flex;
    display: -webkit-flex;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}

.appeal-record .appeal-part:nth-child(odd) {
    background-color: #3F404B;
}

.appeal-record .appeal-part span {
    margin-right: 10px;
}


/*我的页面*/

#myCont {
    width: 100%;
}

.my-cont {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.my-cont h3 {
    font-family: MADEFutureX;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.my-info .my-info-part-1,
.my-info .my-info-part-2 {
    display: flex;
    display: -webkit-flex;
    font-family: MADEFutureX;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
}

.my-info .my-info-part-2 {
    align-items: center
}

.my-info-part-2 .lock-btn button {
    width: 88px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
}

.my-info .my-info-part-1 span,
.my-info .my-info-part-2 span {
    margin-right: 5px;
}

.my-info .my-info-part-1 div,
.my-info .my-info-part-2 div {
    word-break: break-all;
    flex: 1;
}

.my-info .my-info-part-1 {
    margin-bottom: 10px;
}

.my-info .my-info-part-2 {
    margin-top: 12px;
    margin-bottom: 20px;
}

.purview-cont {
    background-color: #373636;
    padding: 20px 3% 20px 3%;
    margin-bottom: 5px;
}

.purview-cont .purview-part {
    margin-bottom: 20px;
}

.purview-cont .purview-part span {
    font-family: MADEFutureX;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    margin-right: 10px;
}

.purview-cont .purview-part {
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.purview-cont .purview-part div {
    font-family: MADEFutureX;
    font-size: 13px;
    color: #E5D91C;
    line-height: 18px;
    flex: 1;
}

.purview-cont .purview-part2 span {
    font-family: MADEFutureX;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    margin-bottom: 20px;
}

.purview-cont .purview-part2 div {
    font-family: MADEFutureX;
    font-size: 13px;
    color: #E5D91C;
    line-height: 18px;
    margin: 15px 0 20px 0;
}

.purview-cont .purview-part2 div span {
    color: #E5D91C;
    margin-left: 10px;
}

.purview-btn {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around
}

.purview-btn button {
    width: 120px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
}

.purview-btn button a {
    display: block
}

.add-btn {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin: 20px 0
}

.add-btn button {
    width: 200px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
}

.add-btn button a {
    display: block
}

.parameter-set {
    margin-bottom: 30px;
    background-color: rgba(113, 111, 111, 0.35);
}

.parameter-set a {
    width: 90%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    font-family: MADEFutureX;
    font-size: 13px;
    color: #fff;
    line-height: 34px;
    height: 34px
}

.parameter-set a img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
    /* Opera */
}

.parameter-cont {
    background-color: #373636;
    padding: 20px 3% 30px 3%;
    margin-bottom: 5px;
}

.parameter-cont>span,
.set-cont span {
    font-family: MADEFutureX;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
}

.parameter-part {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    color: #FF9800;
    line-height: 18px;
    margin-top: 16px;
}

.set-cont {
    background-color: #373636;
    padding: 20px 3% 20px 3%;
    margin-bottom: 5px;
}

.set-cont2 {
    background-color: #373636;
    padding: 20px 3% 10px 3%;
}

.set-cont .set-select {
    margin-top: 15px;
}

.increase-cont {
    margin-top: 50px;
}

.input-pos {
    position: absolute;
    font-family: MADEFutureX-Medium;
    font-size: 10px;
    color: #fff;
    right: 10px;
    top: 13px;
}

.purview-cont .net-list p {
    font-family: MADEFutureX;
    font-size: 13px;
    color: #E5D91C;
    line-height: 18px;
    margin: 15px 0 20px 0;
}

.jsSwitch {
    position: relative;
}

.jsSwitch .toggleoff {
    width: 40px;
    height: 9px;
    background-color: #4D4D55;
    border-radius: 5px;
}

.jsSwitch .inneroff {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #8897A6;
    border-radius: 50%;
    top: -5px;
}

.jsSwitch .toggleon {
    width: 40px;
    height: 9px;
    background-color: #786516;
    border-radius: 5px;
}

.jsSwitch .inneron {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFC900;
    border-radius: 50%;
    top: -5px;
    left: 20px;
    transition: left 0.5s ease-in-out
}

.net-part {
    border-bottom: 1px solid #4c4c4c;
    padding: 20px 0 10px 0;
}

.net-part .net-detail {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    font-family: MADEFutureX;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    margin-bottom: 5px;
}

.net-part .net-detail .list-switch,
.net-part .net-detail .list-switch>div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.net-part .net-detail .list-switch {
    justify-content: space-between;
    width: 95%;
}

.net-part .net-detail .list-switch span {
    width: 50px;
    width: 55px;
    text-align: right;
    margin-right: 10px;
}

.net-part .net-detail>span {
    width: 50px;
    width: 55px;
    text-align: right;
    margin-right: 10px;
}

.net-detail .net-color {
    display: flex;
    display: -webkit-flex;
    width: 95%;
    justify-content: flex-end;
}

.net-detail .net-color a {
    color: #E5D91C;
}


/*操作指南*/

#guideCont {
    width: 100%;
}

.guide-main {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0 50px 0;
}

.guide-part {
    margin-bottom: 15px;
    ;
}

.guide-main h2.terms-title {
    font-family: MADEFutureX-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    color: #fff;
    text-align: center;
}

.guide-part h2 {
    font-family: MADEFutureX-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    color: #fff;
    padding: 10px 0;
}

.guide-part h3 {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    color: #fff;
    padding: 5px 0;
}

.guide-part p {
    font-family: MADEFutureX-Medium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    color: #ccc;
}

.guide-part ul li {
    padding: 3px 0;
    font-family: MADEFutureX-Medium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    color: #ccc;
}

.guide-part ul li a {
    color: #DDC90F;
}

.apply-footer {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.apply-footer ul {}

.apply-footer ul li {
    padding-bottom: 10px;
}

.apply-footer ul li a {
    color: #DDC90F;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
}

.email .message textarea {
    width: 220px;
    height: 100px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(221, 201, 15);
    background: none;
    color: #fff;
    margin-bottom: 30px;
}


/*欢迎页*/

.wel-cont {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    ;
}

.wel-cont h2 {
    font-family: MADEFutureX-Medium;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 30px 0 20px 0;
}

.wel-part {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 15px 0;
}

.wel-part img {
    width: 35px;
    height: 35px;
}

.wel-part div {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    margin-left: 10px;
}

.wel-part div span {
    font-size: 16px;
    font-weight: 600;
}

.menu {
    width: 720px;
    position: absolute;
    bottom: 10px;
}

.menu ul {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.menu li {
    flex: 1;
    text-align: center;
}

.menu ul li a {
    color: #DDC90F;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
}

.wel-btn {
    width: 90%;
    margin: 0 auto;
}

.wel-btn a {
    width: 200px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    background-color: rgb(221, 201, 15);
    text-align: center;
    font-family: MADEFutureX-Medium;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}