/*开发文档、隐私调条款、团队、联系我们*/

@media screen and (min-width:900px) {
    body {
        width: 720px !important;
        margin: 0 auto !important;
    }
}

body {
    background: #fff;
    margin: 0 auto;
}


.readmore {
    text-align: center;
    margin-top: 38px;
}

.readmore span {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0px;
    color: #a8a8a8;
    display: block;
    padding-bottom: 20px;
}

.readmore img {
    width: 20px;
    height: 12px;
}

#docBanner {
    background: url('../images/mobile_icon/doc_bg.png') no-repeat center 0;
    background-size: 100%;
    position: relative
}

#docBanner .doc-banner {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 6.3rem 0 6.8rem 0
}


.doc-icon {
    background-size: contain;
    background: url('../images/mobile_icon/doc_c2.png') no-repeat center 0;
    width: 111px;
    height: 111px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.doc-icon div.doc-c1 {
    background-size: contain;
    background: url('../images/mobile_icon/doc_c1.png') no-repeat center 0;
    width: 86px;
    height: 86px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.doc-icon div.doc-c2 {
    width: 60.5px;
    height: 60.5px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.doc-icon div img {
    width: 22px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#docText {
    width: 100%;
}

#docText .doc-text {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: solid 1px #d2d2d2;
}

h4.cont-title {
    font-family: MADEFutureX-Medium;
    font-size: 22.5px;
    font-weight: normal;
    font-stretch: normal;
    color: #057067;
    margin: 1.9rem 0 1.8rem;
}

.doc-text-list {
    border-top: solid 1px #d2d2d2;
}

.doc-text-list .doc-text-part {
    padding: 0.7rem 0 0.8rem 0;
}

.doc-text-list .doc-text-part h5 {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 15px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    color: #282828;
}

.doc-text-list .doc-text-part p {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #7a7a7a;
}


.doc-text-list .doc-text-part p span {
    text-decoration: underline
}

.doc-text-list .doc-text-part ul {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #7a7a7a;
    margin-left: 5%;
}

.doc-text-list .doc-text-part ul li {
    list-style-type: disc;
}

.doc-text-list .doc-text-part ul li ul {
    margin-left: 5%;
}


#privacyBanner {
    background: url('../images/mobile_icon/privacy_bg.png') no-repeat center 0;
    background-size: 100%;
    position: relative
}

#privacyBanner .privacy-banner {
    width: 90%;
    margin: 0 auto;
    position: relative;

    padding: 6.3rem 0 6.8rem 0
}


#contactBanner {
    background: url('../images/mobile_icon/contact_bg.png') no-repeat center 0;
    background-size: 100%;
    position: relative
}

#contactBanner .contact-banner {
    width: 90%;
    margin: 0 auto;
    padding: 8.5rem 0 8.5rem 0
}

.contact-icon {
    width: 60.5px;
    height: 60.5px;
    background-color: #057067;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.contact-icon img {
    width: 21.5px;
    height: 27.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#contactCont {
    width: 100%;
}

#contactCont .contact-cont {
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 2.8remx;
    margin-bottom: 1.7rem;
}


h4.contact-title {
    font-family: MADEFutureX-Medium;
    font-size: 22.5px;
    font-weight: normal;
    font-stretch: normal;
    color: #057067;
    text-align: center;
    margin: 2.3rem 0 2.3rem 0;
}

h4.contact-title:before,
h4.contact-title:after {
    content: '';
    /*CSS伪类用法*/
    position: absolute;
    /*定位背景横线的位置*/
    top: 11px;
    background: #d2d2d2;
    /*宽和高做出来的背景横线*/
    width: 27%;
    height: 1px;
}

h4.contact-title:before {
    left: 0;
    /*调整背景横线的左右距离*/
}

h4.contact-title:after {
    right: 0;
}

.contact-cont-flex {
    text-align: center;
}


.contact-cont-flex .contact-part {
    margin-bottom: 2.1rem;
}

.contact-cont-flex .contact-part a {
    display: block
}


.contact-cont-flex .contact-part img {
    width: 24px;
}

.contact-cont-flex .contact-part span {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    display: block;
    font-weight: normal;
    font-stretch: normal;
    margin-top: 0.5rem;
    color: #737373;
}

#teamBanner {
    background: url('../images/mobile_icon/team_bg.png') no-repeat center 0;
    background-size: 100%;
    position: relative
}

#teamBanner .team-banner {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 6.3rem 0 6.9rem 0
}

#teamCont {
    width: 100%;
    margin-bottom: 0.5rem;
}

#teamCont .team-cont {
    width: 90%;
    margin: 0 auto;
}


h4.team-title {
    font-family: MADEFutureX-Medium;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    color: #057067;
    margin: 2.8rem 0 1.3rem 0
}

.team-cont-flex {

    align-items: center;
    margin-bottom: 2.3rem;

}

.team-part {
    margin-bottom: 2.3rem;
    text-align: center;
}

.team-part .team-img img {
    width: 345px;
    border-radius: 5px;
}

.team-part .team-img {
    position: relative;

}

.team-part .team-img .team-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #057067;
    opacity: 0;
    border-radius: 5px;
}

.team-part .team-img .team-mask img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-part a:hover .team-mask {
    opacity: 0.7;
}

.team-part .team-name {
    font-family: MADEFutureX-Medium;
    font-size: 17.5px;
    font-weight: normal;
    font-stretch: normal;
    margin: 1.1rem 0 0.5rem 0;
    letter-spacing: 0px;
    color: #057067;
}

.team-part .team-span {
    font-family: MADEFutureX-Light;
    font-size: 14.6px;
    font-weight: normal;
    font-stretch: normal;
    color: #737373;
}

#candyBanner {
    background: url(../images/mobile_icon/presale_bg.png) no-repeat center 0;
    background-size: 100%;
}

#candyBanner .candy-banner {
    padding: 2.2rem 0 2.7rem 0;
}

.candy-banner .candy-banner-text,
.candy-banner .candy-title,
.candy-banner .candy-banner-card {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    margin-top: 7px;
}

.candy-banner .candy-title {
    font-size: 20px;
}

.candy-banner .candy-banner-text {
    margin: 2.1rem 0 2.3rem 0;
}


.candy-banner .candy-banner-btn {
    background: #287D6E;
    width: 180px;
    height: 29.5px;
    background-image: linear-gradient(90deg,
            #057067 0%,
            #0f9186 100%),
        linear-gradient(#057067,
            #057067);
    background-blend-mode: normal,
        normal;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 0.75);
    border-radius: 5px;
    border: solid 1px #ffffff;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29.5px;
    letter-spacing: 0px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.candy-banner .candy-banner-card {
    margin: 1rem 0 2.3rem 0;
    color: #e4c297
}

#candyCont {
    width: 100%;
}


#candyCont .candy-cont-1,
#candyCont .candy-cont-2,
#candyCont .candy-cont-3,
#candyCont .candy-cont-4,
#candyCont .candy-cont-5 {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
}

#candyCont .candy-cont-1 .candy-card {
    padding: 12.5px 5%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(175, 175, 175, 0.75);
    border-radius: 5px;
}

.candy-card span {
    display: block;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #057067;
    margin: 0.5rem 0;
    text-align: center;
}

.candy-card p {
    font-family: MADEFutureX-Light;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    color: red;
    text-align: center;
    padding-bottom: 0.5rem;
}


.candy-card .candy-input {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.candy-card .candy-input input {
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0 12px;
    font-family: MADEFutureX-Thin;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
}

.candy-card .candy-input label {
    font-family: MADEFutureX-Medium;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #464646;
    display: inline-block;
    margin: 10px 0;
}

.candy-card .candy-input img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 2%;
}

.candy-card .candy-cont-btn {
    background: #287D6E;
    width: 130.5px;
    height: 29.5px;
    background-image: linear-gradient(90deg,
            #057067 0%,
            #0f9186 100%),
        linear-gradient(#057067,
            #057067);
    background-blend-mode: normal,
        normal;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 0.75);
    border-radius: 5px;
    border: solid 1px #ffffff;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29.5px;
    letter-spacing: 0px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    display: block;
}

#candyCont .candy-cont-2 .candy-win,
#candyCont .candy-cont-3 .candy-receive,
#candyCont .candy-cont-4 .candy-recommend,
#candyCont .candy-cont-5 .candy-rule {
    padding: 12.5px 5%;
    box-sizing: border-box;
    border: solid 1px #f1eaea;
    border-radius: 5px;
}

.candy-win h5.winning-title,
.candy-receive h5.receive-title,
.candy-rule h5.rule-title {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    text-align: center;
    margin: 0.5rem 0 1rem 0;
}

.candy-win .winning-header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #b3dad3
}

.candy-win .winning-header div {
    font-family: MADEFutureX-Medium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    color: #287D6E;
    width: 33.3%
}

.candy-win .winning-header div:nth-child(2),
.candy-win .winning-part div:nth-child(2) {
    text-align: center
}

.candy-win .winning-header div:nth-child(3),
.candy-win .winning-part div:nth-child(3) {
    text-align: right
}

.candy-win .winning-part {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    line-height: 30px;
}

.candy-win .winning-part div {
    font-family: MADEFutureX-Light;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    color: #676767;
    width: 33.3%
}


.candy-receive .candy-receive-text {
    font-family: MADEFutureX-Light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    color: #464646;
    text-align: center;
    padding-top: 1.5rem;
}

.candy-receive .candy-receive-text span {
    font-family: MADEFutureX-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    color: #287D6E;
}


.candy-receive .candy-receive-btn {
    background: #287D6E;
    width: 130.5px;
    height: 29.5px;
    background-image: linear-gradient(90deg,
            #057067 0%,
            #0f9186 100%),
        linear-gradient(#057067,
            #057067);
    background-blend-mode: normal,
        normal;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 0.75);
    border-radius: 5px;
    border: solid 1px #ffffff;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29.5px;
    letter-spacing: 0px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: block;
}

.candy-recommend .candy-recommend-title {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    line-height: 30px;
}

.candy-recommend .candy-recommend-title span {
    font-family: MADEFutureX-Light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    line-height: 16px;
}


.candy-recommend .candy-recommend-title div {
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    line-height: 16px;
    cursor: pointer;
}

.candy-recommend .candy-recommend-text {
    font-family: MADEFutureX-Light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    color: #464646;
    text-align: center;
    padding: 1.1rem 0;
}

.candy-recommend .candy-recommend-input {}

.candy-recommend .candy-recommend-input textarea {
    width: 100%;
    font-family: MADEFutureX-Medium;
    font-size: 13px;
    color: #287D6E;
    border: none;
    text-align: center;
    resize: none;
}

.candy-recommend .candy-recommend-input .copy-link {
    font-family: MADEFutureX-Light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    color: #287D6E;
    text-align: center;
    width: 130.5px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
}

.candy-recommend .candy-recommend-btn {
    background: #287D6E;
    width: 130.5px;
    height: 29.5px;
    background-image: linear-gradient(90deg,
            #057067 0%,
            #0f9186 100%),
        linear-gradient(#057067,
            #057067);
    background-blend-mode: normal,
        normal;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 0.75);
    border-radius: 5px;
    border: solid 1px #ffffff;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29.5px;
    letter-spacing: 0px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem
}

.candy-recommend .candy-recommend-num {
    font-family: MADEFutureX-Light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    color: #464646;
    padding-top: 1.2rem;
}

.candy-recommend .candy-recommend-num span {
    font-family: MADEFutureX-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    color: #287D6E;
}

.candy-recommend .candy-recommend-tip {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: red;
    padding: 1.5rem 0;
}

#candyCont .candy-cont-5 {
    margin-bottom: 2rem
}

.candy-rule-cont .candy-rule-part span {
    font-family: MADEFutureX-Medium;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    display: block;
    margin-top: 1.5rem;
}


.candy-rule-cont .candy-rule-part ul li {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #676767;
    line-height: 20px;
    margin-top: 0.5rem;
}

.candy-bank-card {
    font-family: MADEFutureX;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    color: #e4c297;
    white-space: nowrap;
    margin-top: 0.2rem;
    text-align: center;
    display: none;
}

.winning-cont {
    overflow-y: auto;
    max-height: 150px;
}

.rule-req {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    line-height: 20px;
}

button.gray-btn {
    background: #8a8a8a !important
}

p.smart-tip {
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: #727272;
    text-align: center;
    margin-bottom: 10px
}

#referrerLayer {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 46px 0px rgba(204, 204, 204, 0.75);
    border-radius: 12px;
    margin: 0 auto;
}

#referrerLayer .referrer-layer {
    position: relative
}


#referrerLayer .referrer-layer .layer-back {
    position: absolute;
    top: 9px;
    right: 7px;
    box-sizing: border-box;
}

#referrerLayer .referrer-layer .layer-back img {
    width: 20px;
    height: 20px;
}

.referrer-layer .referrer-header {
    font-family: MADEFutureX-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    color: #ffffff;
    background-color: #057067;
    text-align: center;
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}

.referrer-layer .referrer-all {
    padding: 30px 0;
    box-sizing: border-box;
}

.referrer-layer .referrer-cont {
    margin: 0 auto;
    overflow-y: auto;
    max-height: 330px;
    width: 80%;
    margin: 0 auto;
    border-left: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
    box-sizing: border-box;
}

.referrer-layer .referrer-cont .referrer-part {
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #9f9f9f;
    height: 41px;
    line-height: 41px;
    border-bottom: solid 1px #d2d2d2;
    box-sizing: border-box;
    text-align: center
}


/*FinancialMobile*/

#finBanner {
    background: url(../images/mobile_icon/presale_bg.png) no-repeat center 0;
    background-size: 100%;
}

#finBanner .fin-banner {
    padding: 3rem 0 3.5rem 0;
}

.fin-banner h4.fin-title,.fin-banner .fin-text  {
    font-family: MADEFutureX-Medium;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
}

.fin-banner h4.fin-title{
    padding-bottom: 2rem
}

.fin-banner .fin-text:nth-child(2){
    padding-bottom:1.5rem
}


#finCont {
    width: 100%;
}

#finCont,
.fin-cont-1 {
    width: 90%;
    margin: 0 auto;
}

.fin-cont-1{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    text-align: center;
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    padding: 1.5rem 0;
}

.fin-cont-1 .fin-num-1 span,
.fin-cont-1 .fin-num-2>span{
    margin-bottom: 0.5rem;
    display: block;
}

.fin-cont-2{
    width: 100%;
    box-sizing: border-box;
    background-color: #287D6E;
    box-shadow: 0px 0px 10px 0px rgba(175, 175, 175, 0.75);
    border-radius: 5px;
    padding: 15px 0;
}

h5.fin-part-title{
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    text-align: center
}

h5.fin-part-title-w{
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center
}

.fin-cont-2 .fin-address{
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;
}


.fin-cont-3{
    box-sizing: border-box;
    border: solid 1px #f1eaea;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 15px 0;
}


.fin-cont-3 .fin-balance{
    font-family: MADEFutureX-Medium;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #287D6E;
    text-align: center;
    margin: 1rem 0;
}

.fin-cont-3 .fin-input{
    width: 80%;
    margin: 0 auto
}

.fin-cont-3 .fin-input input{
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0 12px;
    font-family: MADEFutureX-Thin;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
}

.fin-cont-3 .fin-input div{
    font-family: MADEFutureX-Light;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #464646;
    display: inline-block;
}

.fin-cont-3 button{
    background: #287D6E;
    height: 29.5px;
    padding: 0 20px;
    height: 29.5px;
    background-image: linear-gradient(90deg,
 #057067 0%,
 #0f9186 100%),
 linear-gradient(#057067,
 #057067);
    background-blend-mode: normal,
 normal;
    box-shadow: 0px 0px 10px 0px rgba(135, 135, 135, 0.75);
    border-radius: 5px;
    border: solid 1px #ffffff;
    font-family: MADEFutureX-Medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29.5px;
    letter-spacing: 0px;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: block;
}

.fin-cont-3 .fin-tips{
    width: 90%;
    margin: 0 auto;
    font-family: MADEFutureX-Light;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    color: red;
    padding-bottom: 1.5rem;
}

.fin-cont-4{
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.fin-cont-4 table {
    margin: 1rem 0 2.5rem 0;
    width: 100%;
}

.fin-cont-4 table thead {
    height: 41px;
    background-color: #057067;
}

.fin-cont-4 table th {
    font-family: MADEFutureX-Medium;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    padding: 10px 0;
    line-height: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    background-color: #057067;

}

.fin-cont-4 table tr {
    height:38px;
    line-height: 38px;
}

.fin-cont-4 table tr td {
    text-align: center;
    font-family: MADEFutureX;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    color: #9f9f9f;
}

.fin-cont-4 table tr:nth-child(even) {
    background-color: #eeeeee;
    box-sizing: border-box
}

.fin-cont-4 table tr:nth-child(odd) {
    background-color: #ffffff;
}

#finCont,
.fin-income {
    width: 90%;
    margin: 0 auto;
}

.fin-income{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    text-align: center;
    font-family: MADEFutureX-Medium;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #fff;
    margin-top: 0.5rem
}

.fin-income .fin-num-1 span,
.fin-income .fin-num-2>span{
    margin-bottom: 0.5rem;
    display: inline-block;
}
